*.mta               linguist-language=ini       linguist-detectable
*.taggerscript      linguist-language=dart     -linguist-detectable  # faux highlight
*.mte               linguist-language=dart     -linguist-detectable  # faux highlight
