*.mta               linguist-language=ini       linguist-detectable
# faux highlight
*.taggerscript      linguist-language=dart     -linguist-detectable
*.mte               linguist-language=dart     -linguist-detectable
